 <nav>
  <ul>
      <li>
        <a href="/">
          All users
        </a>
      </li>

      <li>
        <a href="/photos">
          All public photos
        </a>
      </li>

      <% if @current_user == nil %>
      <li>
        <a href="/user_sign_in">
          Sign in
        </a>
      </li>

      <li>
        <a href="/user_sign_up">
          Sign up
        </a>
      </li>

    <% else %>

      <li>
        <a href="/edit_user_profile">
          <%= @current_user.username %>
        </a>
      </li>

      <li>
        <a href="/user_sign_out">
          Sign out
        </a>
      </li>

    <% end %>
  <ul>
</nav>
